html,body{
    height: 100vh;
    width: 98vw;
}
.largeHeader{
    background: #424242;
    color: white;
    font-size: 2rem;
    height: 12vh;
}

.smallHeader{
    background: #424242;
    color: white;
    font-size: 2rem;
    height: 6vh;
}

.navigation{
    text-align: center;
    color: skyblue;
}
.navigation:hover{
    text-align: center;
    color: #0392a8;
}

.largeBody{
    background-color: white;
    float: left;
    width: 92vw;
    min-height: 88vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.smallBody{
    background-color: white;
    float: left;
    width: 92vw;
    min-height: 88vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.projectItem{
    padding-left: 2%;
    padding-bottom: .5%;
    border-bottom: 1px solid #424242;
}

.resumeItem{
    font-size: 30px;
    padding-top: 1.5%;
    padding-right: 3%;
    padding-left: 3%;
    display: inline-block;
}

ul,li{
    font-size: 25px;
}

u{
    color: skyblue;
}

span{
    font-size: 20px;
}

.center{
    text-align: center;
}
